<h1>Edit Attacks</h1>
<table class="table">
    <thead>
        <tr align="center">
            <th>Country</th>
            <th>Date</th>
            <th>City</th>
            <th>Killed</th>
            <th>Injured</th>
        </tr>
    </thead>
    <tbody>
        <tr align="center" >
            <td>{{updatedAttack.country}}</td>
            <td>{{updatedAttack.date}}</td>
            <td>{{updatedAttack.city}}</td>
            <td><input type="number" min="0" class="form-control"  ng-model="updatedAttack.killed" /></td>
            <td><input type="number" min="0" class="form-control"  ng-model="updatedAttack.injured" /></td>

            <td><button class="button btn-primary" ng-click="updateAttack()" /> Update
                </button>
            </td>
        </tr>
    </tbody>
</table>
<hr/>
<h5><i>{{status}}</i></h5>
