<h1 align="center">Attack List</h1>
<table class="table">
    <thead>
        <tr align="center">
            <th >Country</th>
            <th>Date</th>
            <th>City</th>
            <th>Killed</th>
            <th>Injured</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" ng-model="newAttack.country" /></td>
            <td><input class="form-control" ng-model="newAttack.date" /></td>
            <td><input class="form-control" ng-model="newAttack.city" /></td>
            <td><input class="form-control" type="number" ng-model="newAttack.killed" /></td>
            <td><input class="form-control" type="number" ng-model="newAttack.injured" /></td>

            <td><button class="button btn-primary" ng-click="addAttack()"> Add
                </button>
            </td>
        </tr>
        <tr align="center" ng-repeat="attack in attacks">
            <td><a href="/#!/attack/{{attack.country}}">{{attack.country}}</a></td>
            <td>{{attack.date}}</td>
            <td>{{attack.city}}</td>
            <td>{{attack.killed}}</td>
            <td>{{attack.injured}}</td>
            <td><button class="button btn-danger" ng-click="deleteAttack(country, date, city)">Delete</button></td>
        </tr>
        <tr>
            <td><button class="button btn-danger" ng-click="deleteAttacks()">Delete All</button></td>
        </tr>
    </tbody>
</table>
<hr/>
<h7><i>{{status}}</i></h7>
