<h1>Edit Attacks</h1>
<table class="table">
    <thead>
        <tr>
            <th>Country</th>
            <th>Date</th>
            <th>City</th>
            <th>Killed</th>
            <th>Injured</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{updateAttack.country}}</td>
            <td>{{updateAttack.date}}</td>
            <td>{{updateAttack.city}}</td>
            <td><input type="number" class="form-control" ng-model="newAttack.killed" /></td>
            <td><input type="number" class="form-control" ng-model="newAttack.injured" /></td>

            <td><button class="button btn-primary" ng-click="updateAttack()" /> Update
                </button>
            </td>
        </tr>
    </tbody>
</table>
<hr/>
<h5><i>{{status}}</i></h5>
