<table class="table">
    <thead>
        <tr>
            <th>Year</th>
            <th>Month</th>
            <th>Day</th>
            <th>Country</th>
            <th>City</th>
            <th>Attack Type</th>
            <th>Weap Type</th>
            <th>Number of Killed</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" type="number" min="0" ng-model="newData.iyear" /></td>
            <td><input class="form-control" type="number" ng-model="newData.imonth" /></td>
            <td><input class="form-control" type="number" ng-model="newData.iday" /></td>
            <td><input class="form-control" ng-model="newData.country_txt" /></td>
            <td><input class="form-control" ng-model="newData.city" /></td>
            <td><input class="form-control" ng-model="newData.attacktype_txt" /></td>
            <td><input class="form-control" ng-model="newData.weaptype_txt" /></td>
            <td><input class="form-control" type="number" ng-model="newData.nkill" /></td>
            <td><button class="button btn-primary" ng-click="addData()">
                Add
            </button></td>
        </tr>
        <tr ng-repeat="data in globalTerrorismData">
            <td><a href="/terrorismApp.html#!/global-terrorism-data/{{data.country_txt}}/{{data.city}}/{{data.iyear}}/{{data.imonth}}/{{data.iday}}">{{data.iyear}}</a></td>
            <td>{{data.imonth}}</td>
            <td>{{data.iday}}</td>
            <td>{{data.country_txt}}</td>
            <td>{{data.city}}</td>
            <td>{{data.attacktype_txt}}</td>
            <td>{{data.weaptype_txt}}</td>
            <td>{{data.nkill}}</td>
            <td><button class="button btn-danger" ng-click="deleteData(data.country_txt,data.city,data.iyear,data.imonth,data.iday)" >Delete</button></td>
        </tr>
    </tbody>
</table>
<center>
<button class= "button btn-primary" ng-click="deleteAllData()">Delete All</button>
</center>
<hr/>
<h8><i>{{status}}</i></h8>
