<table class="table">
    <thead>
        <tr>
            <th>Year</th>
            <th>Month</th>
            <th>Day</th>
            <th>Country</th>
            <th>City</th>
            <th>Attack Type</th>
            <th>Weap Type</th>
            <th>Number of Killed</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><input class="form-control" type="number" min="0" ng-model="newData.iyear" /></td>
            <td><input class="form-control" type="number" ng-model="newData.imonth" /></td>
            <td><input class="form-control" type="number" ng-model="newData.iday" /></td>
            <td><input class="form-control" ng-model="newData.country_txt" /></td>
            <td><input class="form-control" ng-model="newData.city" /></td>
            <td><input class="form-control" ng-model="newData.attacktype_txt" /></td>
            <td><input class="form-control" ng-model="newData.weaptype_txt" /></td>
            <td><input class="form-control" type="number" ng-model="newData.nkill" /></td>
            <td><button class="button btn-primary" ng-click="addData()">
                Add
            </button></td>
        </tr>
        <tr ng-repeat="data in globalTerrorismData">
            <td><a href="/#!/global-terrorism-data/{{data.country_txt}}/{{data.city}}/{{data.iyear}}/{{data.imonth}}/{{data.iday}}">{{data.iyear}}</a></td>
            <td>{{data.imonth}}</td>
            <td>{{data.iday}}</td>
            <td>{{data.country_txt}}</td>
            <td>{{data.city}}</td>
            <td>{{data.attacktype_txt}}</td>
            <td>{{data.weaptype_txt}}</td>
            <td>{{data.nkill}}</td>
            <td><button class="button btn-danger" ng-click="deleteData(data.country_txt,data.city,data.iyear,data.imonth,data.iday)" >Delete</button></td>
        </tr>
    </tbody>
</table>
<center>
<button class= "button btn-danger" ng-click="deleteAllData()">Delete All</button>
<button class = "button btn-primary" ng-click="loadInitialData()">Fill Table</button>
</center>

<!-- BUSQUEDA -->
<table class="table">
    <thead>
        <tr style="background-color:#EEFCEE" align="center">
            <th class="success"><input class="form-control" ng-model="newGlobalTerrorism.from" placeholder="From" /></th>
            <th class="success"><input class="form-control" ng-model="newGlobalTerrorism.to" placeholder="To" /></th>
            <th class="success"><button class="btn btn-success" ng-click="searchGlobalTerrorismData()"> SEARCH </button></th>
        </tr>
    </thead>
</table>

<!-- PAGINACIÓN -->
<table class="table">
    <thead>
        <tr align="center">
            <td><button class="button" ng-click="anteriorPag()"> << Pág. Anterior </button></td>
            <td><button class="button" ng-click="siguientePag()"> Pág. Siguiente >> </button></td>
        </tr>
    </thead>
</table>

<h3><div><a href="#!/global-terrorism-data/analytics">Analytics graphs</a></div></h3>
<h3><div><a href="#!/global-terrorism-data/integrations">Integrations</a></div></h3>

